[submodule "lib-lwip"]
	path = lib-lwip
	url = https://github.com/phoenix-rtos/lwip
	branch = STABLE-2_1_2_phoenix
[submodule "contrib-lwip"]
	path = contrib-lwip
	url = https://git.savannah.nongnu.org/git/lwip/lwip-contrib.git
